@(channel: Map[String, String])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@channel("title") - Channel Profile</title>

  <style>
    .full-description {
        white-space: normal;    /* Allows text to wrap normally */
        word-wrap: break-word;  /* Breaks long words if necessary */
    }
    .video-item {
				margin: 20px;
				padding: 15px;
				border: 2px solid #ddd;
	}
  </style>


</head>
<body>
<img src="@channel.get("thumbnailDefault")" alt="Thumbnail Default">

<h3><p>Channel Profile: <a href="@channel.get("channelLink")" target="_blank">@channel("title")</a></p></h3>

<b>Description: </b>@channel("description") <br>
<b>Country: </b>@channel.get("country") <br>
<b>Subscribers:</b> @channel("subscriberCount") <br>
<b>Total Views: </b>@channel("viewCount") <br>
<b>Video Count: </b>@channel.get("videoCount")

<h3>Latest 10 Videos</h3>



  @if(channel.containsKey("latestVideos")) {

  @for(video <- play.libs.Json.parse(channel.get("latestVideos")).elements()) {
<div class="video-item">
    <img src="@video.get("thumbnailUrl").asText()" alt="Thumbnail" /> <br>
    <b>Title:</b> <a href="https://www.youtube.com/watch?v=@video.get("videoId").asText()" target="_blank">@video.get("title").asText()
    </a><br>
    <b>Description:</b> @video.get("description").asText()<br>
</div>

  }
  } else {
  <p>No recent videos available.</p>
  }

</body>
</html>
