<!doctype html>
<html>
	<head>
		<title>YouTube Search</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
			.video-item {
				margin: 20px;
				padding: 10px;
				border: 1px solid #ddd;
			}
			.thumbnail {
				width: 120px;
				height: 90px;
			}
			#moreStats {
				margin-left: 10px;
				color: blue;
				cursor: pointer;
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<div>
			<input
				type="text"
				id="searchQuery"
				placeholder="Enter search term"
			/>
			<button onclick="searchVideos()">Search</button>
		</div>
		<div id="results"></div>

		<script>
			function searchVideos() {
				const query = $("#searchQuery").val();
				// $("#results").append(`
				// 	<h2>Search term: " + query + "</h2>
				// `);

				$.get(
					`/api/youtube/search?query=${encodeURIComponent(query)}`,
					function (data) {
						console.log(data);
						$("#results").append(
							`<h2>Search term: ${query} <a id="moreStats" href="/wordstats/${encodeURIComponent(query)}">More Stats</a></h2>
							<body>
								Flesh-Kincaid Grade Level Avg: ${data.fleschKincaidGradeLevelAvg}<br>
								Flesch Reading Ease Score Avg: ${data.fleschReadingScoreAvg}<br>
								Sentiment : ${data.sentiment}
							</body>`,
						);
						data.items.forEach((item) => {
							// console.log(item);
							const videoId = item.id.videoId;
							const snippet = item.snippet;
							const html = `
                        <div class="video-item">
                            <h3>${snippet.title}</h3>
                            <img class="thumbnail" src="${snippet.thumbnails.default.url}">
                            <p>${item.description}</p>
							<p>Flesch-Kincaid Grade Level: ${item.fleschKincaidGradeLevel}</p>
							<p>Flesch Reading Ease Score: ${item.fleschReadingScore}</p>
                            <p>Channel: <a href="/channel/${encodeURIComponent(snippet.channelId)}" target="_blank">${snippet.channelTitle}</a></p>-->
                            <a href="https://www.youtube.com/watch?v=${videoId}" target="_blank">Watch Video</a>
                        </div>
                    `;
							$("#results").append(html);
						});
					},
				);
			}
		</script>
	</body>
</html>
