<!doctype html>
<html>
	<head>
		<title>YouTube Search</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
			.video-item {
				margin: 20px;
				padding: 10px;
				border: 1px solid #ddd;
			}
			.thumbnail {
				width: 150px;
				height: 100px;
			}
			#moreStats {
				margin-left: 10px;
				color: blue;
				cursor: pointer;
				text-decoration: underline;
			}

		</style>
	</head>
	<body>
		<div>
			<Center>
			<H2> Welcome to YT Lytics</H2>
			<input
				type="text"
				id="searchQuery"
				placeholder="Enter search term"
			/>
			<button onclick="searchVideos()">Search</button>
		</div>
		<div id="results"></div>
		</Center>

		<script>
			function searchVideos() {
				const query = $("#searchQuery").val();
				// $("#results").append(`
				// 	<h2>Search term: " + query + "</h2>
				// `);

				$.get(
					`/api/youtube/search?query=${encodeURIComponent(query)}`,
					function (data) {
						console.log(data);
						const currentResults = $("#results").html();
						$("#results").empty();

						$("#results").append(
							`<h2>Search term: ${query} </h2>
							<b>Word Stats:</b><a id="moreStats" href="/wordstats/${encodeURIComponent(query)}">More Stats</a><br>
							<body>
								<b>Sentiment :</b> ${data.sentiment}<br>
								<b>Flesh-Kincaid Grade Level Avg:</b> ${data.fleschKincaidGradeLevelAvg}<br>
								<b>Flesch Reading Ease Score Avg:</b> ${data.fleschReadingScoreAvg}
							</body>`,

						);
						data.items.slice(0, 10).forEach((item) => {
							// console.log(item);
							const videoId = item.id.videoId;
							const snippet = item.snippet;
							const html = `
                        <div class="video-item">
							<h3><p>Title: <a href="https://www.youtube.com/watch?v=${videoId}" target="_blank">${snippet.title}</a></p> </h3>
                            <h3><p>Channel: <a href="/channel/${encodeURIComponent(snippet.channelId)}" target="_blank">${snippet.channelTitle}</a></p></h3>
                            <img class="thumbnail" style="top: 0; right: 0; width: 100px; height: auto;" src="${snippet.thumbnails.default.url}">
                            <h3><p>Description:</h3> ${item.description}</p>
							<b><p>Flesch-Kincaid Grade Level:</b> ${item.fleschKincaidGradeLevel}</p>
							<b><p>Flesch Reading Ease Score:</b> ${item.fleschReadingScore}</p>
                        	<a href="/tag?video_id=${videoId}" target="_blank">Tags</a>
                        </div>
                    `;

							$("#results").append(html);
						});

						$("#results").append(currentResults);
					},
				);
			}
		</script>
	</body>
</html>
